@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/src/bgs.avif');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    /* background-color: rgb(41, 40, 40); */
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}
.search{
    margin-top: 8rem;
}
.search input{
    width: 250px;
    padding: 0.6rem 0.8rem;
    border-radius: 3px 0 0 3px;
    border: none;
    outline: none;
    background-color: rgb(52, 51, 61, 0.9);
    color: #fff;
}
.search button{
    width: 70px;
    padding: 0.6rem 0;
    border: none;
    border-radius: 0 3px 3px 0;
    background-color:#12151f;
    color: white;
    outline: none;
    cursor: pointer;
}
.card{
    width: 470px;
    height: 320px;
    background-color:rgb(23, 27, 36, 0.6);
    margin-top: 30px;
    border-radius: 15px;
}
.first{
    width: 100%;
    height: 135px;
    border-radius: 15px 15px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.first h1 i{
    font-size: 4rem;
    color: #fff;
}
.grid{
    width: 100%;
    height: 105px;
    display: grid;
    grid-template-columns: 70% 30%;
}
.grid div{
    height: 105px;
    color: white;
}
.grid div:first-child{
    background-color: #070A13;
    opacity: 0.8;
}
.grid div:last-child{
    text-align: center;
    background-color: #070A13;
}
.flex{
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
.flex p{
    font-size: 3rem;
    font-weight:lighter;
    line-height: 0.6;
}
.flex_t{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}
.flex p{
    margin-right: 15px;
}
.items{
    width: 100%;
    height: 80px;
    border-radius: 0 0 15px 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 20px;
    grid-gap:20px;
    justify-content: space-between;
    color: #fff;
}
.items div{
    display: flex;
    align-items: center;
}
.items div:first-child{
   margin-right: 15px;
}
.items div div p{
    font-size: 0.8rem;
}
.head{
    font-size: 12px;
}
.div{
    background-color: black;
}

@media (max-width:490px){
    .card{
        width: 300px;
        height: 350px;
    }
    .search input{
        width: 200px;
    }
    .search button{
        width: 50px;
    }
    .items{
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 10px;
    }
    .flex p{
        font-size: 2rem;
    }
    .flex_t{
        font-size: 1rem;
    }
}

@media(max-width:300px){
    .card{
        width: 250px;
        height: auto;
    }
    .first{
        height: 100px;
    }
    .search input{
        width: 150px;
    }
    .grid{
        grid-template-columns: 1fr;
        height: auto;
    }
    .grid div{
        height: 70px;
    }
    .items{
        height: 120px;
    }
}


 